<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag "about4.jpg", class:"first-slide" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Kasual</h1>
          <p>For every question contact us</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Here</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="text-muted">
  <div class="container">
    <p class="pull-xs-right">
      <a href="#">Back to top</a>
    </p>
    <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
  </div>
</footer>
