<div class="container">
<h2 class="customer_title">New Card</h2>
<%= form_for [@customer, @card] do |f| %>
  <div class="field">
  <%= f.label :category_id %>
  <%= f.collection_select(:category_id, @all_categories, :id, :name) %>
  </div>

  <%= f.submit %>
<% end %>
</div>
