<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active"><a href="/dashboard">Dashboard<span class="sr-only">(current)</span></a></li>
    <li><a href="#">Users</a></li>
    <li><a href="#">customers</a></li>
    <li><a href="#">Categories</a></li>

  </ul>
  <ul class="nav nav-sidebar">
    <li><%= link_to 'New User', new_user_path %></li>
    <li><%= link_to 'New Customer', new_customer_path %></a></li>
    <li><%= link_to 'New Categories', new_category_path %></li>
  </ul>
</div>
